.container-gameplay {
    width: 100vw;
}

/* *************MEDIA QUERIES************** */

            /*
             MOBILE - ATÉ 768px
             TABLET - 768px até 1024px
             DESKTOP - 1024px até 1200px
             GRANDES TELAS - ACIMA DE 1200PX
            */

@media screen and (max-width: 768px) { /* CELULARES */

    .sub-container-gameplay {
        width: 100vw;
        height: 100vh;
        background: linear-gradient(to left, #435BEE, #0C1B66);
        display: flex;
        flex-direction: column;
    }

    .questions {
        display: flex;
        flex-direction: column;
        padding: 8px;
        margin-top: 1px;
        align-items: center;
    }

    .description-question {
        width: 95vw;
        height: 100px;
        border: 1px solid #A50100;
        outline: 3px solid white;
        border-radius: 15px;
        background: linear-gradient(to top, #A50100,#E60101,#E60101,#A50100);
        padding: 10px;
    }

    .description-question p {
        color: white;
        font-weight: 600;
        align-self: center;
        text-indent: 1px;
        font-size: 1.1rem;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    .response {
        display: flex;
        flex-direction: row;
        margin-top: 1px;
        align-self: flex-start;
        gap: 12px;
        width: 97.5vw;
        height: 58px;
        padding: 10px 10px 10px 10px;
        cursor: pointer;
    }

    .response-index {
        background-color: #B09522;
        border: 1px solid #B09522;
        border-radius: 50%;
        outline: 3px solid white;
        width: 11vw;
        height: 45px;
        display: flex;
        justify-content: center;
    }

    .response-index span {
        align-self: center;
        color: white;
        font-weight: 600;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.4rem;
        user-select: none;
    }

    .response-info {
        background: linear-gradient(to top, #A50100,#E60101,#E60101,#A50100);
        border: 1px solid #B09522;
        border-radius: 15px;
        outline: 2.5px solid white;
        height: 45px;
        width: 90vw;
        display: flex;
        justify-content: flex-start;
    }

    .response-info p {
        color: white;
        font-weight: 600;
        align-self: center;
        text-indent: 15px;
        font-size: 1.1rem;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        user-select: none;
    }

    .help {
        display: flex;
        flex-direction: column;
        padding: 1px;
        margin-top: 10px;
        align-items: center;
    }

    .button-stop-game {
        width: 95vw;  
        padding: 10px;
        display: flex;
        justify-content: center;
    }

    .button-stop-game button {
        width: 110px;
        height: 25px;
        color: white;
        text-shadow: .5px .5px 1px #000000;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 1.1rem;
        font-weight: 600;
        background: linear-gradient(to top, #00A902,#017600,#017600, #00A902);
        outline: 3px solid white;
        border: 1px solid #A50100;
        border-radius: 10px;
        user-select: none;
        text-align: center;
        cursor: pointer;
        margin-top: -7px;
    }

    .group-items-help {
        display: flex;
        width: 70vw;
        flex-direction: column;
        border: 2px solid #ffffff;
        border-radius: 30px;
        padding: 8px;
        margin-top: 2px;
        background: linear-gradient(to right, #495AF1,#3842B0,#495AF1, #05145C);
    }

    .group-items-help h3 {
        text-align: center;
        color: white;
        margin-bottom: 10px;
        font-weight: 600;
        font-size: 1.7rem;
        text-shadow: .5px .5px 1px #000000;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .items-1 {
        display: flex;
        flex-direction: row;
        gap: 40px;
        justify-content: center;
    }

    .items-1-details {
        display: flex;
        flex-direction: column;
        gap: 7px;
    }

    .items-1-details img {
        width: 60px;
        height: 30px;
        cursor: pointer;
        align-self: center;
    }

    .items-1-details p {
        color: #ffffff;
        text-align: center;
        font-weight: 600;
        text-shadow: .5px .5px 1px black;
        font-size: 1.1rem;
    }

    .items-2 {
        display: flex;
        flex-direction: row;
        gap: 40px;
        justify-content: center;
        margin-top: 10px;
        margin-bottom: 7px;
    }

    .items-2-details {
        display: flex;
        flex-direction: column;
        gap: 7px;
    }

    .items-2-details img {
        width: 60px;
        height: 30px;
        cursor: pointer;
        align-self: center;
    }

    .items-2-details p {
        color: #ffffff;
        text-align: center;
        font-weight: 600;
        text-shadow: .5px .5px 1px black;
        font-size: 1.1rem;
    }

    .score-money {
        display: flex;
        flex-direction: row;
        padding: 1px;
        margin-top: 4px;
        align-items: center;
        justify-content: center;
        gap: 70px;
    }

    .score-money-details {
        display: flex;
        flex-direction: column ;
        position: relative;
    }

    .score-money-details p {
        color: white;
        font-size: 1.3rem;
        text-shadow: 1px 1px 2px #000000;
        position: absolute;
        top: 30px;
    }

    .score-money-details img {
        width: 70px;
        height: 50px;
    }

    .score-money-details .value-money {
        color: #ff0202;
        font-weight: 500;
        text-shadow: .2px .2px .5px #ffffff;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 1.4rem;
        position: absolute;
        left: 20px;
        top: 8px;
    }

}

@media screen and (min-width: 768px) and (max-width: 1024px) { /* TABLETS */

}

@media screen and (min-width: 1024px) and (max-width: 1200px) { /* DESKTOP */

}

@media screen and (min-width: 1200px) { /* GRANDES TELAS */
    
}            